<div class="login-box">
  <h2>Register</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <div class="user-box">
      <label for="email">Email: </label>
      <input type="text" name="email" formControlName="email">
      <p>{{emailInfoValue}}</p>
    </div>
    <div class="user-box">
      <label for="username">Username: </label>
      <input type="text" name="username" formControlName="username">
      <p></p>
    </div>
    <div class="user-box">
      <label for="password">Password: </label>
      <input type="password" name="password" formControlName="password">
      <p>{{passwordInfoValue}}</p>
    </div>
    <div class="user-box">
      <label for="re_password">Repeat password: </label>
      <input type="password" name="re_password" formControlName="re_password">
      <p>{{rePasswordInfoValue}}</p>
    </div>
    <button type="submit">Sign Up</button>
  </form>
</div>
